<div class="home-container">
    <h1>Welcome to {{ appTitle }}!</h1>
    <p>
        This is a production-ready Progressive Web App (PWA) - Social & Human Activity Recording Utility
    </p>

    <h2>Key Features:</h2>
    <ul>
        <li>PWA Capabilities:Installable, works offline, and loads instantly using a Service Worker.</li>
        <li>Security:Uses JWT (JSON Web Tokens) for session management and Bcrypt for password hashing.
        </li>
        <li>Role-Based Access: Dynamic navigation and protected API routes for Employee and Admin roles.
            roles.
        </li>
        <li>Core Functionality: Features include To-Do management, Activity Logging, Timesheets, Blog posts, and
            Insights.
        </li>
    </ul>

    <p class="login-prompt">
        Please use the <span class="highlight">Login button</span> in the header to access your portal.
    </p>
</div>